<div class="container">
    <div class="page-header">
      <div class="pull-right">
        <%= link_to 'New Status Update', new_status_path, class: "btn btn-info" %>
      </div>
      <h1>News Feed</h1></div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Status Update</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @statuses.each do |s| %>
      <tr>
        <td><%= link_to s.status, status_path(s) %></td>
        <td><%= s.user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
